# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
bin/
obj/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Database files
*.mdf
*.ldf

# Visual Studio files
.vs/